
.date{
    text-align:inherit;
    padding: 3px;
    background-color: #fff;
}

.timecardheading{
    text-align: start;
    margin: 2px;
    padding: 2px;
}
.Timecard{
    /* max-width: 500px; */
    text-align: inherit;
    margin: auto 20px;
    background-color: rgb(192, 206, 255);
    padding: 10px 8px;
    border-radius: 5px;
    
}
.Timecards{
    max-width: 500px;
    background-color: black;
}
.timecarddetail{
    text-align: start;
    margin: 2px;
    padding: 2px;
}
.activityimage{
    max-height: 600px;
    padding: auto 80px;
}